{% extends 'base.html' %}

{% block content %}

    <!-- about -->
    <div class="privacy about">
        <h3>About Us</h3>
        <p class="animi">At this stage of the developed world, our country is now largely dependent on
            agricultural work.
            But in our country where farmers are not properly evaluated, I think something should be done for
            farmers that can keep pace with the developed world and the developed world means we are the age of
            internet.
            So, that farmers can use the internet to get the right price for their produce and the purpose of my
            application is that farmers can benefit from using my application. The function of my application
            will be to meet the goal that farmers can sell product issues at a fair price.
            Farmers will be able to sell their produce or crop directly to buyers through my e-commerce site and
            get fair price, At the same time consumers will be able to buy the pure produce directly from the
            farmers as per the demand.</p>
        <div class="agile_about_grids">
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //about -->

{% endblock %}