{% extends 'base.html' %}

{% block content %}

    <!-- banner -->
    <div class="banner">
        <!-- Sign Up -->
        <div class="page-wrapper bg-dark p-t-100 p-b-50">
            <div class="wrapper wrapper--w900">
                <div class="card card-6">
                    <div class="card-heading">
                        <h2 class="title">Sign Up</h2>
                    </div>
                    <div class="card-body">
                        <form action="/signup" method="POST">
                            {% csrf_token %}
                            {% if error %}
                                <div class="alert alert-danger">
                                   <center><h3> {{ error }} </h3></center>
                                </div>
                            {% endif %}

                            <div class="form-row">
                                <div class="name">First Name</div>
                                <div class="value">
                                    <input class="input--style-6" type="text" name="First_Name"
                                           value="{{ value.first_name }}"
                                           placeholder="Must be four character long">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Last Name</div>
                                <div class="value">
                                    <input class="input--style-6" type="text" name="Last_Name"
                                           value="{{ value.last_name }}"
                                           placeholder="Must be four character long">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Mobile Number</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-6" type="tel" name="Mobile_Number"
                                               value="{{ value.mobile_number }}"
                                               placeholder="01234567890">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Email</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-6" type="email" name="Email" required=""
                                               value="{{ value.email }}"
                                               placeholder="example@email.com">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Address</div>
                                <div class="value">
                                    <div class="input-group">
                                        <textarea class="textarea--style-6" name="Address" required=""
                                                  placeholder="Enter your full address"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Password</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-6" type="password" name="Password"
                                               placeholder="Must be five character long">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn--radius-2 btn--blue-2" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- //Sign Up -->

        <div class="clearfix"></div>
    </div>
    <!-- banner -->

{% endblock %}